/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul, li {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Mixins */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
@mixin width_calc {
	width: -webkit-calc(100% - 250px);
  width:    -moz-calc(100% - 250px);
  width:         calc(100% - 250px);	
}
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* Elements */
body, html {
  margin: 0; padding: 0;
  height: 100%; width: 100%;
}
html {
  font-family: 'Helvetica Neue', sans-serif; 
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}
body {
	border-top: 50px solid transparent;
}
body * {
  @include box_sizing;
  outline: none;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
	display: block;
	clear: both;
  line-height: 1;
  font-weight: bold;
}
ul {
  margin: 0; padding: 0;
}
li, p, a {
	margin: 0; padding: 0;
	text-decoration: none; color: inherit; line-height: 170%;
}
a {
	cursor: pointer;
}
span {
	display: block;
}
strong {
	font-weight: 500;
}
b {
	font-weight: bold;
}
i {
	font-style: italic;
}

/* Common */
.hidden {
	display: none;
}
.noselect {
	-webkit-touch-callout: none; 
	-webkit-user-select: none;
	-khtml-user-select: none; 
	-moz-user-select: none;
	-ms-user-select: none; 
	user-select: none; 
}
.touch-scroll {
	-webkit-overflow-scrolling: touch;
}
.flex {
	display: flex;
	justify-content: center;
	align-items: center; 		
}
.shadow-1 {
}
.shadow-2 {
}
.shadow-3 {
}

/* Bootstrap */
.navbar-brand {
	display: block;
	img {
	  display: inline-block;
	  vertical-align: middle;
	  &:first-child {
	  	margin: 0 6px 0 0;
	  }
	}
}
.navbar {
	z-index: 1;
	position: fixed; top: 0; left: 0; right: 0;
	box-shadow: 0 1px 0 rgba(0,0,0,0.08);
}
.container {
}
.table {
	font-size: 15px;
	td, th {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: scroll;
		vertical-align: middle;
		width: 14.3%;
	}
}

/* Icons */
.far {
	display: inline-block;
}

/* Bank */
#main {
}
